.fleft {float:left}
.fright  {float:right;}
.fcenter {float:left; padding-left:300px; margin:0 auto;text-align:center}
.fclear {clear:both}
body {margin:0;padding:0;text-align:justify;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#fff2d6}
h2 {font-size:22px;display:inline}
/*h3 {font-size:17px;color:#ffe401;display:inline}*/
h4 {font-size:14px;color:#fff}
p, ol, ul {line-height:20px}
ul {margin-left:0;padding-left:0;list-style:none}
ul li {padding:2px 0 5px 0;border-bottom:1px dotted #444}
img {float:left;margin:8px;border:2px solid #ccc}
h1 a {color:#c5fc08;text-decoration:none}
h1 a:hover {color:#fff;text-decoration:none}
.toplinks {width:80px;text-align:center;float:right;height:35px;line-height:35px;font-family:tahoma;font-size:13px;font-weight:bold;background:#f9ae0e;display:block;margin:5px 0 0 3px;border:1px solid #993300;color:#000;text-decoration:none}
.toplinks:hover {color:#fff;background:#ff7700}
#left {float:right;width:500px}
#right {float:left;width:500px}


#block-menu {height:45px;opacity:.80;filter:alpha(opacity=80);-moz-opacity:0.8;}

#block-header  { width:100%;max-width:1024px; margin:auto; }
#block-header img { width:100%; }
#block-inner  { clear:both; margin:20px auto; padding:0px 20px; max-width:1024px; }
#block-footer { clear:both; margin:20px auto; padding:20px 0;   border-top:2px solid #c5fc08; }

/*a {color:#438403} */
a:hover {text-decoration:none;color:#FFFF66}

#preview{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
	}
a{
	text-decoration:none;
	color:#f30;	
}

pre{
	display:block;
	font:100% "Courier New", Courier, monospace;
	padding:10px;
	border:1px solid #bae2f0;
	background:#e3f4f9;	
	margin:.5em 0;
	overflow:auto;
	width:800px;
}

img{border:none;}