Options +Includes
AddHandler server-parsed .shtml .html .htm
Options +FollowSymLinks
RewriteEngine On
RewriteRule sl2/([^/\.]+)/?$ sl.php?overlord=$1 [L]
RewriteRule sl2_dev/([^/\.]+)/?$ sl_dev.php?overlord=$1 [L]
php_flag display_startup_errors off
php_flag display_errors on
php_flag html_errors off
php_value docref_root 0
php_value docref_ext 0
