# Access drupal from within the subdirectory swww.
#
#   1) Requests for real files/directories relative in seeds.ca are served via the !-f and !-d conditions
#   2) Requests that aren't files/dirs are redirected to swww via those conditions.
#      So host/swww/sites/foo.css can be requested by the name host/sites/foo.css
#   3) The swww/.htaccess serves any real files/dirs
#   4) The swww/.htaccess sends all other requests to drupal index.php
#
#
# You must also edit swww/.htaccess to have the following lines:
#     RewriteBase /swww/
#     RewriteCond %{REQUEST_FILENAME} !-f      // this serves real files in non-swww directories
#     RewriteCond %{REQUEST_FILENAME} !-d
#     RewriteCond %{REQUEST_URI} !=/favicon.ico
#     RewriteRule ^(.*)$ index.php?q=$1 [L]    // this makes requests to swww go through drupal, unless they're files e.g. in themes
#
# And swww/sites/default/settings.php:
#     $base_url = 'http://host/dev/seeds.ca';  (Development)     // this makes drupal write its menu links without the swww
#  or $base_url = 'http://www.seeds.ca';       (Production)


Options -Indexes
Options +FollowSymLinks

RedirectMatch ^/int/doc/docpub.php(.*)$   https://seeds.ca/d$1
Redirect       /int/doc/docedit.php       https://seeds.ca/d/docedit.php
Redirect       /doc                       https://seeds.ca/d/docedit.php

Redirect       /ecosgn/speaker            https://seeds.ca/ecosgn/speaker.php

Redirect       /en.php                    https://seeds.ca
Redirect       /fr.php                    https://semences.ca
Redirect       /ev/events.php             https://seeds.ca/events
Redirect       /ev/evenements.php         https://semences.ca/evenements
Redirect       /sources                   https://seeds.ca/diversity/seed-catalogue-index
Redirect       /indice-catalogues         https://semences.ca/diversite/indice-catalogues-semences
Redirect       /csci                      https://seeds.ca/diversity/seed-catalogue-index
Redirect       /seedysaturdays            https://seeds.ca/events
Redirect       /fetes                     https://semences.ca/evenements
RedirectMatch ^/mbr/m.*$                  https://seeds.ca/store


Redirect       /checkout                  https://seeds.ca/store
Redirect       /donate                    https://seeds.ca/store
Redirect       /donation                  https://seeds.ca/store
Redirect       /subscribe                 https://seeds.ca/store
Redirect       /register                  https://seeds.ca/store
Redirect       /member                    https://seeds.ca/store
Redirect       /adopt                     https://seeds.ca/store
Redirect       /adopt-a-seed              https://seeds.ca/store

Redirect       /adhesion                  https://semences.ca/boutique
Redirect       /membre                    https://semences.ca/boutique
Redirect       /don                       https://semences.ca/boutique

Redirect       /sl                        https://seeds.ca/diversity/seed-library

Redirect       /saveyourseeds             https://seeds.ca/publications
Redirect       /conservezvossemences      https://semences.ca/nos-livres
Redirect       /publications_fr           https://semences.ca/nos-livres
Redirect       /publications-fr           https://semences.ca/nos-livres

#Redirect       /seedfinder                https://seeds.ca/bauta/seedfinder.php
Redirect       /localisateur-semences     https://semences.ca/seedfinder
Redirect       /localisateurdesemences    https://semences.ca/bauta/seedfinder.php

Redirect       /explorer                  https://seeds.ca/bauta/explorer.php
Redirect       /explorateur               https://seeds.ca/bauta/explorateur.php

Redirect       /magazine_submissions     "https://seeds.ca/d?n=mag/Seeds of Diversity magazine submission guidelines 2014.pdf"
Redirect       /magazine-submissions     "https://seeds.ca/d?n=mag/Seeds of Diversity magazine submission guidelines 2014.pdf"
Redirect       /magazine_advertising     "https://seeds.ca/d?n=mag/Seeds-of-Diversity-magazine-advertising-rate-sheet-2017.pdf"
Redirect       /magazine-advertising     "https://seeds.ca/d?n=mag/Seeds-of-Diversity-magazine-advertising-rate-sheet-2017.pdf"
Redirect       /revue_soumission         "https://seeds.ca/d?n=mag/Semences du patrimoine revue - directives pour la soumission 2014.pdf"
Redirect       /revue-soumission         "https://seeds.ca/d?n=mag/Semences du patrimoine revue - directives pour la soumission 2014.pdf"
Redirect       /revue_soumissions        "https://seeds.ca/d?n=mag/Semences du patrimoine revue - directives pour la soumission 2014.pdf"
Redirect       /revue-soumissions        "https://seeds.ca/d?n=mag/Semences du patrimoine revue - directives pour la soumission 2014.pdf"
Redirect       /revue_publicite          "https://seeds.ca/d?n=mag/Semences-du-patrimoine-revue-publicites-2017.pdf"
Redirect       /revue-publicite          "https://seeds.ca/d?n=mag/Semences-du-patrimoine-revue-publicites-2017.pdf"
Redirect       /revue_publicites         "https://seeds.ca/d?n=mag/Semences-du-patrimoine-revue-publicites-2017.pdf"
Redirect       /revue-publicites         "https://seeds.ca/d?n=mag/Semences-du-patrimoine-revue-publicites-2017.pdf"

Redirect       /seedexchange             https://seeds.ca/app/mbr/msd
Redirect       /app/seedexchange         https://seeds.ca/app/mbr/msd
Redirect       /seed-directory           https://seeds.ca/app/mbr/msd
Redirect       /catalogue-semences       https://semences.ca/app/mbr/msd

Redirect       /bautagrowouts            https://seedsecurity.ca/en/118-seed-grow-outs
Redirect       /cropnotes                https://seedsecurity.ca/en/118-seed-grow-outs
Redirect       /bauta-essais             https://seedsecurity.ca/fr/122-essais-en-matiere-de-production-de-semences

Redirect       /how-to-grow-garlic-bulbils https://seeds.ca/d?n=web/ebulletin/2016-08-en/articles/garlic
Redirect       /comment-cultiver-bulbilles https://semences.ca/d?n=web/ebulletin/2016-08-fr/articles/ail

Redirect       /sw8/web/events           http://seedysaturday.ca/2022-events

# drupal8 name redirections
Redirect       /nos-livres               https://semences.ca/livres

Redirect       /library                  https://seeds.ca/diversity/seed-library
Redirect       /bibliotheque             https://semences.ca/diversite/bibliotheque-semences
Redirect       /bibliotheque-semences    https://semences.ca/diversite/bibliotheque-semences

RewriteEngine on

# redirect subdomains to main domain: *.seeds.ca -> seeds.ca and *.semences.ca -> semences.ca because drupal (and maybe some cookies) think they're different sites
RewriteCond %{HTTP_HOST} ^(.*)\.seeds\.ca$
RewriteRule (.*)$ https://seeds.ca/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^(.*)\.semences\.ca$
RewriteRule (.*)$ https://semences.ca/$1 [R=301,L]


# force https (above redirect forces to ^seeds.ca$ or ^semences.ca$
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^seeds\.ca$    [OR]
RewriteCond %{HTTP_HOST} ^semences\.ca$
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


RewriteRule ^diversity/seed-library-list.php diversity/seed-library-list    [L,QSA]


# This almost works to capture this file's path relative to the docroot and set it as the rewritebase
# The only problem is the server gives a 500 error if %{ENV:BASE} is at the start of the rule output 
#RewriteBase /
#RewriteCond %{REQUEST_URI}::$1 ^(.*?/)(.*)::\2$
#RewriteRule ^(.*)$ - [E=BASE:%1]
# Now BASE has the path to this htaccess file's directory
#RewriteRule ^(.*)$ XX%{ENV:BASE}YY [L,QSA]
#RewriteRule ^(.*)$ %{ENV:BASE} [L,QSA]             # this causes a 500
#RewriteRule ^(.*)$ blart [L,QSA]



# Get a "RewriteBase" according to the host name.
RewriteBase /
#RewriteRule ^ - [E=BASE:/swww/]
RewriteRule ^ - [E=BASE:/sw8/web/]
RewriteCond %{HTTP_HOST} ^localhost$
RewriteRule ^ - [E=BASE:/~bob/seeds.ca2/swww/]
# now use BASE like this : RewriteRule ^(.*)$ %{ENV:BASE}index.php [L,QSA]


# Any requests not for this site get redirected to this site
#RewriteCond %{HTTP_HOST} !^www\.mysite\.com$ [NC]
#RewriteRule .* http://www.mysite.com/	[L,R=301]

# Requests to the root go straight to the home page (I think query strings are appended by default if the rewrite has none)
#RewriteCond %{HTTP_HOST} ^(www.)?seeds.ca$
#RewriteRule ^$  /1/index.php  [L]
RewriteRule ^$  %{ENV:BASE}index.php  [L]

# Serve file requests beneath the drupal root (e.g. theme files - img, css, js) - not sure if this works
RewriteCond %{DOCUMENT_ROOT}%(ENV:BASE}%{REQUEST_URI} -f
RewriteRule .*  %{ENV:BASE}$0 [L]
# not sure this works because if I subst the above with this, there's no difference  RewriteRule .* http://www.seeds.ca [L]

# don't allow access to .svn etc
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule \.svn %{ENV:BASE}index.php [L]

# tmp rule for development of french site
RewriteRule ^fr$ %{ENV:BASE}index.php?lang=FR [L,QSA]
RewriteRule ^fr/(.*)$ %{ENV:BASE}index.php?q=$1&lang=FR [L,QSA]

# allow app/pool to use http
#RewriteCond %{HTTPS} on
#RewriteCond %{REQUEST_URI} ^/app/pool/
#RewriteRule ^ http://%{HTTP_HOST}%{REQUEST_URI}  [R,L]

# seeds.ca redirects to wordpress en unless the url refers to a real file or dir
RewriteCond %{HTTP_HOST} ^(www.)?seeds.ca$
RewriteCond %{REQUEST_URI} ^/1/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ /1/$1 [L,QSA]
#RewriteCond %{HTTP_HOST} ^(www.)?seeds.ca$
#RewriteRule ^(/)?$ /1/index.php [L] 


# Serve other applications in the root directory (e.g. seedliving, bauta/descriptions)
# If the request is not elsewhere in the root, redirect into swww.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ %{ENV:BASE}$1 [L,QSA]


# L = last
# R = issue a browser redirect to the new url
# QSA = query string append (add the request ?query to the rewritten url)
# QSD = query string discard  - default is to discard the original ?query if rewritten has a query string, append if it doesn't
# S=n skip the next n rules
#
# NC = case insensitive condition
# OR = this condition or the next condition

# BEGIN WordPress
# The directives (lines) between `BEGIN WordPress` and `END WordPress` are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
#RewriteEngine On
#RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
#RewriteBase /
#RewriteRule ^index\.php$ - [L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /index.php [L]
</IfModule>

# END WordPress

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php74” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php74 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
