
%% SeedUI-Box1
<style>
.seedbox1
    { margin-left:10px; border:1px solid #aaa; }
.seedbox1-header
    { padding:3px 10px; background-color:#999; color:white; font-size:16px; font-weight:bold; }
.seedbox1-content
    { padding: 10px; text-align:center; font-size:9pt; }
.seedbox1-errmsg
    { color:red; text-align:center; }
        
</style>
<div class='seedbox1'>
    <div class='seedbox1-header'>[[Var:heading]]</div>
    <div class='seedbox1-errmsg'></div>
    <div class='seedbox1-content'>[[Var:content]]</div>
</div>
